<div class="polis-container mat-elevation-z2">
  <h2 class="mat-h2">Wczytaj polisy</h2>
  
  <form [formGroup]="polisForm">
    <div class="file-upload-container">
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>upload_file</mat-icon>
        Wybierz pliki PDF
      </button>
      <input #fileInput type="file" 
             accept="application/pdf" 
             (change)="onFilesSelected($event)" 
             multiple
             style="display: none">
      @if(selectedFiles.length > 0){
        <div class="selected-files">
          <p>Wybrane pliki ({{selectedFiles.length}}):</p>
          <ul>
            @for(file of selectedFiles; track file.name){
              <li>{{file.name}}</li>
            }
          </ul>
        </div>
      }
    </div>

    <div class="form-actions">
      <button mat-raised-button 
              color="primary" 
              type="submit" 
              [disabled]="selectedFiles.length === 0" 
              (click)="onSubmit()">
        Wczytaj dane
      </button>
    </div>
  </form>

  @if(dataSource.data.length > 0){
    <div class="policies-table">
      <h3 class="mat-h3">Dane z polis:</h3>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="pesel">
          <mat-header-cell *matHeaderCellDef> PESEL </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pesel}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="insuredFirstName">
          <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.insuredFirstName}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="insuredLastName">
          <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.insuredLastName}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Wysokość składki </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} PLN </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="insuranceCompany">
          <mat-header-cell *matHeaderCellDef> Towarzystwo ubezpieczeniowe </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.insuranceCompany}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="policyCategory">
          <mat-header-cell *matHeaderCellDef> Kategoria polisy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.policyCategory}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Akcje </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="onEdit(element)">Edytuj</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    
  }
</div>
